<%# If there's a title make an h1 element that has the title,
 else redirect to default index route %>
 <% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form class="form-generic" id="deleteForm" action="/inv/delete" method="post">
  <span class="form-details">CONFIRM DELETION - THE DELETE IS PERMANENT.</span>

  <label for="inv_make">Make:</label>
  <input type="text" name="inv_make" id="inv_make" pattern="[a-zA-Z]{3,}" placeholder="Min of 3 characters" readonly value="<%= locals.inv_make %>">

  <label for="inv_model">Model:</label>
  <input type="text" name="inv_model" id="inv_model" pattern="[a-zA-Z]{3,}" placeholder="Min of 3 characters" readonly value="<%= locals.inv_model %>">

  <label for="inv_price">Price:</label>
  <input type="text" name="inv_price" id="inv_price" placeholder="Decimal or integer" pattern="[0-9.]{1,}" readonly value="<%= locals.inv_price %>">

  <label for="inv_year">Year:</label>
  <input type="text" name="inv_year" id="inv_year" placeholder="4-digit year" pattern="[0-9]{4}" readonly value="<%= locals.inv_year %>">

  <input type="submit" value="Delete Vehicle">

  <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"<% } %>>
</form>

<script src="../../js/inv-update.js"></script>